extends layout

block content

  h1 Edition: #{edition.name}

  div(style='margin-left:20px;margin-top:20px')

    h4 Books

    dl
      each book in edition_books
        dt
          a(href=book.url) #{book.title}
        dd #{book.summary}

      else
        p This edition has no books